<html>
    <head>
        <meta charset="utf-8">
        <title>Worker_Name profile</title>
        <link rel="stylesheet" type="text/css" href="C:/Users/madhu/softwares/zonaldesk/src/app/workers-profile/workers-profile.component.scss ">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <section>
            <nav>
                <a href="#" class="logo"> Zonaldesk</a>
                <ul>
                    <li> <a href="#" class="active">Home</a></li>
                    <li> <a href="#aboout">About</a></li>
                    <li> <a href="#resume">Resume</a></li>
                    <li><a href="#serrvice">Services</a></li>
                    <li> <a href="#conts">Contact</a></li>
                    
                    
                </ul>
            </nav>
            <div class="text-container">
                <p>Hello,</p>
                <p> I'm Worker's Name</p>
                <p> I am a Software Engineer <br> and Designer </p>
                <button class="hire-btn"> Hire me </button>

            </div>
            <img src="https://www.kindpng.com/picc/m/172-1725053_happy-man-i9life-professional-business-man-hd-png.png" class="model" >
        </section>  
            <!---------About---------------------------------------->    
        <div class="about-container" id=aboout>
           <div class="row">
               <div class="col-md-6 text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRE3spquoWStxWAU7NOMYMd77kPHMskQwwUGPbL9PzT6i1RqDvg&usqp=CAU" class="profile-img">

               </div>
               <div class="col-md-6"><br>
                   <h2> About Me</h2> <br>
                   <p> Hi, this is XYZ, I am an Web Developer with 8 years of experience in designing and developing user interfaces, testing, debugging, and training staff within eCommerce technologies. Proven ability in optimizing web functionality that improve data retrieval and workflow efficiencies.</p>
                   <br>
                   <h4> My Skills :</h4> 
                   <div class="skills-bar">
                       <p>WordPress</p>
                     <div class="progress">
                         <div class="progress-bar" style="width:80%;">80%</div> </div>
                            <p>HTML</p>
                     <div class="progress">
                            <div class="progress-bar" style="width:80%;">90%</div> </div>
                            <p>CSS</p>
                     <div class="progress">
                            <div class="progress-bar" style="width:80%;">70%</div> </div>
                       
                   </div>
               </div>
           </div> 
        </div>
        <!---------------------------Resume ----------------------->

        <div class="resume" id="resume">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                       <h3 style="text-align: center;"> My Experiences</h3> 
                       <ul class="timeline">
                           <li> <h4> <span>2018 --</span> Front End Developer  </h4> <p> Details </p> <br>  <b> Company :</b> Xyx pvt Ltd.   <br>  <b> Duration :</b> 5 years [2014-2019] <br>  <b> Location :</b> Delhi </li>
                           <li> <h4> <span>2014 --</span> Front End Developer  </h4> <p> Details </p> <br>  <b> Company :</b> ABC pvt Ltd.   <br>  <b> Duration :</b> 2 years [2012-2014] <br>  <b> Location :</b> Mumbai </li> 
                        
                        </ul>   
                    </div>
                    <div class="col-6">
                        <h3 style="text-align: center;"> My Eductaion</h3> 
                        <ul class="timeline">
                            <li> <h4> <span>2012 --</span> Bachelor of Technology  </h4> <p> Percentage: 80% </p> <br>  <b> Institution :</b> Xyx .   <br>  <b> Duration :</b> 4 years [2012-2008] <br>  <b> Location :</b> Mumbai </li>
                            <li> <h4> <span>2008 --</span> Secondary Education  </h4> <p> Percentage: 95% </p> <br>  <b> Institution:</b> ABC .   <br>  <b> Duration :</b> 2 years [2008-2006] <br>  <b> Location :</b> Mumbai </li> 
                                                    

                         
                         </ul>   
                     </div>
                </div>
            </div>

        </div>
<!---------------------Services -------------------------------------------->
<div class="services" id="serrvice">
    <h3>Services</h3>
    <div class="services-text">
        <h4> What I can do for you. </h4>
        

    </div>
    <div class="box-container">
        <div class="box-1"> 
          
            <p class="heading">WEB DESIGN</p>
            <p class="details"> Executing all visual design stages from concept to final hand-off to engineering. Conceptualizing original website design ideas that bring simplicity and user friendliness to complex roadblocks</p>
        
        </div>

        <div class="box-2"> 
        
        <p class="heading"> UI & UX DESIGN</p>
        <p class="details">Illustrating design ideas using storyboards, process flows and sitemaps.
            Designing graphic user interface elements, like menus, tabs and widgets</p>
        </div>
            <div class="box-3"> 
        
        <p class="heading"> DBA</p>
        <p class="details">Store and organize data and capacity planning, installation, configuration, database design, migration, performance monitoring, security, troubleshooting, as well as backup and data recovery</p>
    </div>
    </div>
    
</div>



<!------------------- Contact  ----------------------------------->
<div class="cont" id="conts">       
<div class="row">
            <div class="col-sm"></div>
            
            <div class="col-sm"> <i class="fas fa-address-book" style="font-size:48px;align-items: center;"></i>
             <br>    <br> <h5>       Address</h5>
 
            <p>
                          1600 Amphitheatre Parkway<br>
                          Mountain View, CA<br>
                          94043 US
             </p></div>
            <div class="col-sm"> 
                <i class="fas fa-at" style="font-size:48px;align-items: center;"></i>
<br><br>
                 <h5>Email </h5>
 
                <p>someone@kardswebsite.com<br>
                    info@kardswebsite.com			     
                </p> </div>
            <div class="col-sm"> <i class="fas fa-phone" style="font-size:48px;align-items: center;"></i> <br><br>  <h5>Contact Numbers</h5>
 
                <p>Phone: (+63) 555 1212<br>
                    Mobile: (+63) 555 0100<br>
                      Fax: (+63) 555 0101
                </p> </div>
          </div>
        </div> 
            
    </body>
</html>
